
body {
    color: white;
    background-color:#060118;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
nav a:hover {
    color: #8a2be2;
    color: goldenrod;
}
ul {
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
main img {
    height: 200px;
    width: 200px;
    justify-content: center;
    text-align: center;
}
div {
    text-align: center;
}
div a:hover {
    color: #8a2be2;
    color: goldenrod;
}
header img {
    height: 350px;
    width: 1330px;
    border-radius: 5px;
}
.center {
    text-align: center;
}
a {
    color: white;
    background-color: #6c1cb8;
    text-size-adjust: 5px;
    border-radius: 30%;
    text-decoration: none;
}
p {
    justify-content: center;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(116, 31, 116);
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}